{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:jest/all"
  ],
  "rules": {
    "strict": "off",
    "react/react-in-jsx-scope": "off",
    "jest/require-top-level-describe": "off"
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "latest"
    }
  },
  "reportUnusedDisableDirectives": true
}
